* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #f5f5f5;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.flex-container {
    display: flex;
    flex-direction: column;
    background-color: #f5f5f5;
}

header h1 {
    text-align: center;
    font-size: 6rem;
    font-weight: 300;
    color: rgba(175, 47, 47, 0.15);
}

header h3 {
     text-align: center;
     font-weight: 300;
     color: rgba(175, 47, 47, 0.15);
 }

header a {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    text-align: center;
    font-weight: 300;
    color: rgba(175, 47, 47, 0.15);
}

.todo-app {
    width: 35rem;
    margin: auto;
    box-shadow: 5px 10px 18px #d4d4d4;
    outline: none;
}

#toggle-todo {
    display: flex;
    align-items: center;
    background: rgb(253, 253, 253);
    padding-left: 1rem;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

#input-text {
    padding: 0.8rem 1rem 0.8rem 3rem;
    width: 100%;
    color: #4d4d4d;
    line-height: 3rem;
    font-size: 1.5rem;
    font-weight: 300;
    background: rgba(0, 0, 0, 0);
    border: none;
    outline: none;
}

#toggle-todo .fa-angle-down {
    color: rgb(214, 212, 212);
    cursor: pointer;
}

::placeholder {
    color: rgb(214, 212, 212);
    font-style: italic;
}

#todo-list {
    display: flex;
    flex-direction: column;
    list-style: none;
    background: #fff;
}

.todo-item {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    overflow: hidden;
}

#todo-list li {
    font-size: 1.5rem;
    line-height: 4rem;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

#todo-list label {
    color: #4d4d4d;
}

#todo-list input {
    color: #4d4d4d;
    width: 100%;
    font-size: 1.5rem;
    line-height: 4rem;
    margin-left: 3.8rem;
}

ul li label .line {
    font-size: 1.5rem;
    text-decoration: line-through;
    color: rgb(214, 212, 212);
}

li .far, li .fa-edit {
    display: none;
}

.delete-item {
    display: none;
}

li:hover .far, li:hover .fa-edit {
    align-self: baseline;
    margin-left: 30rem;
    display: block;
    cursor: pointer;
    position: absolute;
    height: 40px;
    font-size: 17px;
    color: #4b7ecc;
}

li:hover .delete-item {
    align-self: baseline;
    margin-left: 32rem;
    display: block;
    cursor: pointer;
    position: absolute;
	height: 40px;
	font-size: 30px;
	color: #cc9a9a;
	transition: color 0.2s ease-out;
}

#todo-list button {
    border: none;
    background-color: #fff;
    margin-top: 15px;
}

li .far:hover {
    color: #0c1baf;
}

li .delete-item:hover {
    color: #af5b5e;
}

.delete-item:after {
	content: '×';
}

#todo-list li .uncheck {
    width: 40px;
    height: 40px;
    margin-right: 1.5rem;
    background-image: url('data:image/svg+xml;utf8,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20width%3D%2240%22%20height%3D%2240%22%20viewBox%3D%22-10%20-18%20100%20135%22%3E%3Ccircle%20cx%3D%2250%22%20cy%3D%2250%22%20r%3D%2250%22%20fill%3D%22none%22%20stroke%3D%22%23ededed%22%20stroke-width%3D%223%22/%3E%3C/svg%3E');
    padding: 0.7rem 0;
    cursor: pointer;
}

#todo-list li .check {
    width: 40px;
    height: 40px;
    margin-right: 1.5rem;
    color: rgb(214, 212, 212);
    background-image: url('data:image/svg+xml;utf8,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20width%3D%2240%22%20height%3D%2240%22%20viewBox%3D%22-10%20-18%20100%20135%22%3E%3Ccircle%20cx%3D%2250%22%20cy%3D%2250%22%20r%3D%2250%22%20fill%3D%22none%22%20stroke%3D%22%23bddad5%22%20stroke-width%3D%223%22/%3E%3Cpath%20fill%3D%22%235dc2af%22%20d%3D%22M72%2025L42%2071%2027%2056l-4%204%2020%2020%2034-52z%22/%3E%3C/svg%3E');
    padding: 0.7rem 0;
    cursor: pointer;
}

ul li input {
    margin-right: 3rem;
    margin-left: 1rem;
}

ul li input:focus {
    outline: 0;
    border: 1px solid #777;
}

.list-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    overflow: hidden;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2),
                0 8px 0 -3px #f6f6f6,
                0 9px 1px -3px rgba(0, 0, 0, 0.2),
                0 16px 0 -6px #f6f6f6,
                0 17px 2px -6px rgba(0, 0, 0, 0.2);
}

.list-container span {
    color: #777;
    padding-left: 10px;
}

.list-container a {
    color: #777;
    text-decoration: none;
}

.list-container a:hover, .list-container a:hover:not(:last-child) {
    border: 1px solid rgba(175, 47, 47, 0.15);
    border-radius: 0.3rem;
    padding: 4px;
    margin: -5px;
}

.list-container #clear-btn {
    font-family: inherit;
    font-size: 1rem;
    border: none;
    background-color: #fff;
    color: #777;
    padding-right: 10px;
    cursor: pointer;
}

.list-container #clear-btn:hover {
    text-decoration: underline;
}

#nav-bar {
    list-style: none;
    display: flex;
}

#nav-bar li {
    margin: 1rem 0.5rem;
}

footer {
    text-align: center;
    margin-top: 4rem;
    color: rgb(214, 212, 212);
    font-size: 0.7rem;
    line-height: 1.5rem;
}

footer a {
    text-decoration: none;
    color: rgb(206, 206, 206)
}

footer a:hover {
    text-decoration: underline;
}

@media screen and (max-width: 700px) {
    .todo-app {
        width: 23rem;
    }

    li:hover .delete-item {
        margin-left: 20rem;
    }
}