<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <script src="https://kit.fontawesome.com/b6a126cf35.js"></script>
    <title th:text="${title}">Title</title>
</head>
    <body>
        <div class="flex-container">
            <header class="top" id="header">
                <h1>todos</h1>
            </header>
            <section class="todo-app">
                <div id="toggle-todo">
                    <a class="fas fa-angle-down fa-lg" th:href="@{'/toggleAll'}" style="text-decoration: none"></a>
                    <form th:action="@{/save}" th:object="${todo}" method="post">
                        <input type="text" id="input-text" placeholder="What needs to be done?" th:field="*{todoText}">
                        <input type="hidden" th:field="*{id}">
                        <button type="submit" style="display:none"></button>
                    </form>
                </div>
                    <ul id="todo-list" th:each="todo: ${todos}">
                        <form th:action="@{'/deleteTodo/'+${todo.id}}" method="post">
                            <li class="todo-item">
                                <a th:class="${todo.checked} ? 'check checkbox' : 'uncheck checkbox'" th:id="${todo.id}" th:href="@{'/getTodo/'+${todo.id}}" style="text-decoration: none"></a>
                                <label th:text="${todo.todoText}"></label>
                                <a class="far fa-edit" th:id="${todo.id}" th:href="@{'/updateTodo/'+${todo.id}}"></a>
                                <button type="submit" class="delete-item"></button>
                            </li>
                        </form>
                    </ul>
                <div class="list-container">
                    <span id="count" th:text="${unCheckedTodos + ' items left'}">Items left</span>
                    <ul id="nav-bar">
                        <li id="all"><a th:href="@{'/all'}">All</a></li>
                        <li id="active"><a th:href="@{'/active'}">Active</a></li>
                        <li id="completed"><a th:href="@{'/completed'}">Completed</a></li>
                    </ul>
                    <form th:action="@{'/clearCompleted'}" method="post">
                        <button id="clear-btn">Clear completed</button>
                    </form>
                </div>
            </section>
            <footer>
                <p>Written by <a href="https://github.com/henkbjork">Henrik Björk</a></p>
                <p>Part of<a href="http://todomvc.com/"> TodoMVC</a></p>
            </footer>
        </div>
    </body>
</html>